@model Lab2_ED1.Models.Client


@{
    ViewData["Title"] = "Order";
}

<h1>Pedido</h1>

<h4>Detalles del Cliente</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIT)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
</table>

